<h1>Meet <%= @dog.name %> </h1>
<p><strong>ID:</strong><%= @dog.id %></p>
<p><strong>Breed:</strong><%= @dog.breed %></p>
<p><strong>Age:</strong><%= @dog.age %></p>
<p><strong>Created:</strong><%=@dog.created_at.stamp('02/13/2015')<%></p>
<%= link_to "back to dogs", dogs_path %>